.time-erinn-current:before {
	content: "Erinn Time: ";
}

.time-server-current:before {
	content: "Server Time: ";
}

.timer {

}

.ceo-time {
	width: 150px;
	border: 2px solid black;
	border-top-width: 0px;
	padding: 2px;
}

.ceo-time .display-time-countdown {
	margin: 0px;
}

.extra-wide-timer > div {
	width: 200px;
}

/* LIST DISPLAY */
.display-time-list {
	width: 150px;
}

.display-time-list .timer-label {
	display: inline-block;
	width: 100%;
	border: 2px solid black;
	text-align: center;

	padding: 2px;
	margin-bottom: 0px;
}

.display-time-list > div {
	display: table;
	width: 100%;
	border: 2px solid black;
	border-top-width: 0px;

	padding: 2px;
}

.display-time-list .display-entry {
	display: table-row;
}

.display-time-list .display-time {
	display: table-cell;
	text-align: right;
	white-space: nowrap;
}

.display-time-list .display-label {
	display: table-cell;
	padding-left: 5px;
}

/* COUNTDOWN DISPLAY */
.display-time-countdown, .display-time-status {
	margin: 10px 0px;
}

.display-time-countdown .timer-label, .display-time-status .timer-label {
	display: inline;
	margin-right: 5px;
}

/* STATUS DISPLAY */
.display-time-countdown > div, .display-time-status > div {
	display: inline;
}


