<!DOCTYPE html>
<html>

<head>
	<script src="/moment.js"></script>
	<script src="/moment-timezone-with-data.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>
	<script src="/time/time.js"></script>
	<script src="forecast.js"></script>
	<link rel="stylesheet" type="text/css" href="forecast.css">
	<title>Forecast Demo Page</title>
</head>

<body ng-app="forecast">
	<div ng-controller="forecastCtrl as forecast">
		<span class="area-left" ng-click="forecast.prevArea()" ng-hide="forecast.areas.length == 0"><img src="http://mabi.world/gfx/left.png"/></span>
		<span class="area-right" ng-click="forecast.nextArea()" ng-hide="forecast.areas.length == 0"><img src="http://mabi.world/gfx/right.png"/></span>
		<span ng-repeat="(id, area) in forecast.areas track by area.id" class="area-hour" ng-show="forecast.displayedArea == id">
			<div class="area-title">{{ area.name }}</div>
			<div class="area-today" title="{{ area.now.desc }}">
				<img ng-if="!forecast.now().erinn.isNight()" class="area-today-body" src="http://mabi.world/gfx/eweca.png" />
				<img ng-if="forecast.now().erinn.isNight()" class="area-today-body" src="http://mabi.world/gfx/palala.png" />
				<img class="area-today-coverage" ng-src="{{ forecast.getGfxUrlLarge(area.now.intensity, area.id) }}"></span>
			</div>
			<div class="area-forecast">
				<table>
					<tr>
						<td ng-repeat="next in area.next" title="{{next.desc}}">
							<img ng-if="!next.time.toErinn().isNight()" ng-src="{{ forecast.getGfxUrlSmallDay(next.intensity, area.id) }}">
							<img ng-if="next.time.toErinn().isNight()" ng-src="{{ forecast.getGfxUrlSmallNight(next.intensity, area.id) }}">
						</td>
					</tr>
					<tr>
						<td ng-repeat="next in area.next">{{next.time | amDateFormat:'H:mm'}}</td>
					</tr>
				</table>
			</div>
		</span>
	</div>
</body>

</html>