<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Server Stat Demo</title>
	<style>
		[v-cloak] {
			display: none !important;
		}
	</style>
</head>

<body>
	<div id="server-stat" class="mss-box" v-cloak>
		<p class="mss-loading" v-show="!status">Loading, please wait...</p>
		<div class="mss-data" v-if="status">
			<game :game="status.game">
				<template scope="game">
					<div class="mss-game-status-text">{{game.state}}</div>
					<div class="mss-game-bar-bg">
						<div :class="'mss-game-bar mss-background-' + game.state" :style="'width: ' + (game.stress == -1 ? 100 : game.stress) + '%'"></div>
					</div>
				</template>
			</game>

			<server v-for="server in status.game.servers" :key="server.name" :server="server">
				<template scope="server">
					<div class="mss-icon-box">
						<div :class="'mss-server-icon mss-server-icon-' + server.id">
							<span class="mss-server-icon-warning" v-show="server.isBadState"></span>
						</div>
						<round-progress :radius="24" :stroke="4" :max="100" :current="server.stress == -1 ? 100 : server.stress"></round-progress>
					</div>

					<div class="mss-channels">
						<channel v-for="channel in server.channels" :key="channel.name" :channel="channel">
							<template scope="channel">
								<span :class="'mss-channel-icon ' + (channel.event ? 'mss-icon-event' : 'mss-icon-' + channel.state)">
									<span :class="'mss-ping-icon mss-ping-icon-' + channel.ratedPing"></span>
								</span>
								<div class="mss-channel-circle">
									<div v-if="channel.id == 'HCh'" class="mss-channel-name mss-housing-channel"></div>
									<div v-else class="mss-channel-name">{{channel.id}}</div>
								</div>
							</template>
						</channel>
					</div>
				</template>
			</server>
			<div class="mss-other-servers">
				<div class="mss-server-box mss-site-status">
					<div class="mss-server-box-name">Website</div>
					<div :class="'mss-site-status-text mss-server-box-status-text mss-text-' + status.website.state">{{status.website.state}}</div>
				</div>
				<div class="mss-server-box mss-login-status">
					<div class="mss-server-box-name">Login</div>
					<div :class="'mss-login-status-text mss-server-box-status-text mss-text-' + status.login.state">{{status.website.state}}</div>
				</div>
				<div class="mss-server-box mss-chat-status">
					<div class="mss-server-box-name">Chat</div>
					<div :class="'mss-chat-status-text mss-server-box-status-text mss-text-' + status.chat.state">{{status.chat.state}}</div>
				</div>
			</div>
			<div class="mss-updated-on">{{status.updated}}</div>
		</div>
	</div>
	<!-- built files will be auto injected -->
</body>

</html>
