<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Server Stat Demo</title>
	<style>
		[v-cloak] {
			display: none !important;
		}
	</style>
</head>

<body>
	<div id="server-stat" class="mss-box" v-cloak>
		<p class="mss-loading" v-show="!status">Loading, please wait...</p>
		<div class="mss-data" v-if="status">
			<game :game="status.game">
				<template scope="game">
					<div class="mss-game-status" :title="game.stressMsg">
						<div class="mss-game-status-text">{{ game.stateMsg }}</div>
						<div class="mss-game-bar-bg">
							<div :class="'mss-game-bar mss-background-' + game.state" :style="'width: ' + (game.stress == -1 ? 100 : game.stress) + '%'"></div>
						</div>
					</div>

					<server v-for="server in game.orderedServers" :key="server.name" :server="server" class="mss-server">
						<template scope="server">
							<div class="mss-icon-box" :title="status.type == 'ping' ? server.pingDesc : server.fullDesc">
								<div class="mss-server-icon" :class="'mss-server-icon-' + server.id + (server.isBadState ? ' mss-grayscale' : '')">
								</div>
								<span class="mss-server-icon-warning" v-show="server.isBadState"></span>
								<round-stress :stress="server.stress" :state="server.state" :radius="24"></round-stress>
							</div>

							<div class="mss-channels">
								<channel v-for="channel in server.channels" :key="channel.name" :channel="channel">
									<template scope="channel">
										<div class="mss-channel" :title="status.type == 'ping' ? channel.pingDesc : channel.fullDesc">
											<div class="mss-channel-circle">
												<div v-if="channel.id == 'HCh'" class="mss-channel-name mss-housing-channel"></div>
												<div v-else class="mss-channel-name">{{channel.id}}</div>
												<round-stress :stress="channel.stress" :state="channel.state" :radius="16"></round-stress>
											</div>
											<div class="mss-icons">
												<state-icon :event="channel.event" :state="channel.state"></state-icon>
												<ping-icon :rated-ping="channel.ratedPing"></ping-icon>
											</div>
										</div>
									</template>
								</channel>
							</div>
						</template>
					</server>
				</template>
			</game>
			<div class="mss-other-servers">
				<other-server :server="status.website" id="website" class="mss-server-box mss-site-status">
					<template scope="website">
						<div class="mss-server-box-name">{{ website.localName }}</div>
						<div class="mss-site-status-text mss-server-box-status-text" :class="'mss-color-' + website.state">{{ website.stateMsg }}</div>
					</template>
				</other-server>
				<other-server :server="status.login" id="login" class="mss-server-box mss-site-status">
					<template scope="login">
						<div class="mss-server-box-name">{{ login.localName }}</div>
						<div class="mss-site-status-text mss-server-box-status-text" :class="'mss-color-' + login.state">{{ login.stateMsg }}</div>
					</template>
				</other-server>
				<other-server :server="status.chat" id="chat" class="mss-server-box mss-site-status">
					<template scope="chat">
						<div class="mss-server-box-name">{{ chat.localName }}</div>
						<div class="mss-site-status-text mss-server-box-status-text" :class="'mss-color-' + chat.state">{{ chat.stateMsg }}</div>
					</template>
				</other-server>
			</div>
			<br />
			<div v-html="$t('byline')"></div>
		</div>
	</div>
	<!-- built files will be auto injected -->
</body>

</html>